<%- include('./add/header.ejs') %>
    <h2>L채gg till erbjudande</h2>
    <form action="/addOffers" method="post" enctype="multipart/form-data">
        <!-- Uses the method post to send the data to the database -->
        <label for="picture" id="pictureLabel">L채gg till en bild med ett erbjudande som kommer att visas p책
            startsidan</label>
        <input type="file" id="pictureUpload" name="picture" accept="image/*">
        <button type="submit" id="btnAddOffer">L채gg till erbjudande</button>
    </form>